node_modules/
.env
.env.*

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Lockfiles
pnpm-lock.yaml
yarn.lock

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor temp files
*~
# IDE specific
.idea/
package-lock.json
